WELCOME FRIEND PROJECT ALTRON 


01. alarm.py
02. Alarmtext.txt
03. CalculateNembers.py
04. Dictapp.py
05. focus.txt
06. FocusGraph.py
07. FocusMode.py
08. game.py
09. GreetMe.py
10. install.py
11. intro.gif
12. intro.py
13. introAi.mp3
14. Jarvis_main.py
15. keyboard.py